/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.mt-4 {
    margin-top: 4rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.text-center {
    text-align: center;
}

/* Navbar */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
}

/* Forms */
.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 0;
}

.btn-primary {
    border-radius: 0;
}

/* Alerts */
.alert {
    margin-bottom: 1rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


/* Ticket Page */
.ticket-info {
    text-align: center;
    margin-bottom: 1.5rem;
}

.ticket-qrcode {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

