{% extends 'layout.html' %}

{% block title %}last key{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
<div class="container">
    <h1>last key</h1>
    <form action="/key" method="post" >       
        <div class="form-group">
            <label for="last_key">last key</label>
            <input type="text" class="form-control" id="key" name="key" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<p>hint checkout the website for the hints and use a combination of the hints.</p>

{% endblock %}
