<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Flask App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.90">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Qr Ticketing</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <a class="navbar-brand" href="/scan_qr_code">Scan qr</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    {% if 'username' in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="/generate_ticket">MY tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myrfid">MY RFID</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myhistory">my history</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if get_flashed_messages() %}
          <header>            
              <div class="alert alert-primary mb-0 text-center" role="alert">
                  {{ get_flashed_messages() | join(" ") }}
              </div>
          </header>
      {% endif %}
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="bg-dark text-white text-center py-1 mt-2 fixed-bottom">
        <div class="container">
          <div class="row">
            <div class="col">
              <p>&copy;Ticketing System. All rights reserved. Made by 
                 <a href="https://www.linkedin.com/in/sameeryadav693/" class="text-white" >Sameer yadav</a></p>
            </div>
          </div>
        </div>
      </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
